<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BaseDatosJSON.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <BaseDatosJSON.Properties.Settings>
            <setting name="Ruta_DB_Productos" serializeAs="String">
                <value>Productos.json</value>
            </setting>
            <setting name="AutoCompletarJson" serializeAs="String">
                <value>MarcasDeTecnologia.json</value>
            </setting>
            <setting name="UsersDB" serializeAs="String">
                <value>Users.json</value>
            </setting>
        </BaseDatosJSON.Properties.Settings>
    </applicationSettings>
</configuration>
